body {
    background-color: #eee;
}

.grid {
    display: grid; 
    grid-template-rows: [row-1-inicio] 50px [row-2-inicio] 50px;
    grid-template-columns: [col-1-inicio] 1fr [col-2-start] 1fr [col-3-start] 1fr;
    grid-gap: 15px;
}

.element {
    background-color: red;
}

.header {
    grid-column: 1/4;
    grid-row: 1/3;
}