.body {
    background-color: #eee;
}

a {
    color: hotpink;
}

a:link {
    color: pink;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
    text-decoration: line-through;
}

a:active {
    color: black;
}
